appdirs==1.4.3
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.2.1
dill==0.2.7.1
en-core-web-sm==2.0.0
ftfy==4.4.3
html5lib==1.0b8
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
msgpack-numpy==0.4.1
msgpack-python==0.5.4
murmurhash==0.28.0
networkx==2.1
numpy==1.14.2
opencv-python==3.4.0.12
parabolic==0.1.2
pathlib==1.0.1
Pillow==6.2.3
pipdate==0.2.2
plac==0.9.6
preshed==1.0.0
pycorenlp==0.3.0
pyparsing==2.2.0
pytesseract==0.2.0
python-dateutil==2.7.2
pytz==2018.3
PyWavelets==0.5.2
regex==2017.4.5
requests==2.20.0
scikit-image==0.13.1
scipy==1.0.1
six==1.11.0
spacy==2.0.10
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.19.9
ujson==1.35
urllib3==1.24.2
Wand==0.4.4
wcwidth==0.1.7
wrapt==1.10.11
